
<div class="container-img" >
    <div class="slider-container ">
        <ul *ngIf="casapadre">
            <li><img src="./assets/img/casauno.jpg " alt=""></li>
            <li><img src="./assets/img/casados.jpg " alt=""></li>
            <li><img src="./assets/img/casauno.jpg " alt=""></li>
            <li><img src="./assets/img/casados.jpg " alt=""></li>
        </ul>

        <ul *ngIf="cuartopadre" >
            <li><img src="./assets/img/roomuno.jpg " alt=""></li>
            <li><img src="./assets/img/roomdos.jpg " alt=""></li>
            <li><img src="./assets/img/roomtres.jpg " alt=""></li>
            <li><img src="./assets/img/roomcuatro.jpg " alt=""></li>
        </ul>

        <ul *ngIf="banopadre" >
            <li><img src="./assets/img/bano.jpg " alt=""></li>
            <li><img src="./assets/img/banodos.jpg " alt=""></li>
            <li><img src="./assets/img/banotres.jpg " alt=""></li>
            <li><img src="./assets/img/bano.jpg " alt=""></li>
        </ul>

        <ul *ngIf="terrazapadre" >
            <li><img src="./assets/img/terraza.jpg " alt=""></li>
            <li><img src="./assets/img/terrazados.jpg " alt=""></li>
            <li><img src="./assets/img/terrazatres.jpg " alt=""></li>
            <li><img src="./assets/img/terrazacuatr.jpg " alt=""></li>
        </ul>

        <ul *ngIf="cocinapadre" >
            <li><img src="./assets/img/cocina.jpg " alt=""></li>
            <li><img src="./assets/img/cocinados.jpg " alt=""></li>
            <li><img src="./assets/img/cocinatres.jpg " alt=""></li>
            <li><img src="./assets/img/cocinacuatro.jpg " alt=""></li>
        </ul>
    </div>
</div>


        

    

    

    
