<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container mx-auto h-screen  ">
    <div class="grid grid-cols-4 pt-5 pb-5 h-screen ">
      <div class="bg-slate-500 text-white col-span-1 text-center  ">
        <img src="./assets/img/logo.png" alt="logo">
        <button (click)="mostrar()">Años de estudio <br>
          <h3 class="text-xs">(Elegir)</h3>
        </button>
        <ul class="text-left pl-3 hidden" id="mostrar">
          <li (click)="mostrando()" class="text-base hover:text-xl  pt-3 base"><a href="#">2019</a></li>
          <li (click)="mostrando20()" class="text-base hover:text-xl  pt-3 "><a href="#">2020</a></li>
          <li (click)="mostrando21()" class="text-base hover:text-xl  pt-3 "><a href="#">2021</a></li>
          <li (click)="mostrando22()" class="text-base hover:text-xl  pt-3 "><a href="#">2022</a></li>
        </ul>
        <div class="pt-8 divide-y divide-solid casa" (click)="imagenes()">
          <button class="block pt-5 hover:text-red-700 hover:text-xl jome" (click)="jome()">Home</button>
          <button class="block pt-5 hover:text-red-700 hover:text-xl room" (click)="room()">Room</button>
          <button class="block pt-5 hover:text-red-700 hover:text-xl bath" (click)="bath()">Bathroom</button>
          <button class="block pt-5 hover:text-red-700 hover:text-xl" (click)="porshe()">porshe</button>
          <button class="block pt-5 hover:text-red-700 hover:text-xl" (click)="kitchen()">Kitchen Room</button>
        </div>
      </div>
      <div class="grid grid-rows-2 col-span-3 border-2 cuadros">
        <div class="imagen">
          <div class="nueve">
            <app-diezynueve *ngIf="casa" [casapadre]="casa"></app-diezynueve>
            <app-diezynueve *ngIf="cuarto" [cuartopadre]="cuarto"></app-diezynueve>
            <app-diezynueve *ngIf="bano" [banopadre]="bano"></app-diezynueve>
            <app-diezynueve *ngIf="terraza" [terrazapadre]="terraza"></app-diezynueve>
            <app-diezynueve *ngIf="cocina" [cocinapadre]="cocina"></app-diezynueve>

          </div>
          
        

        </div>

        <div class=" homes grid grid-cols-2 gap-4">
          <div class="cr grid bg-slate-200 text-center font-mono text-xl">Características
            <ul>
              <li *ngFor="let text of texto">
                {{text.sexo1}}{{text.resultado}}{{text.cantidad}}{{text.more2}}{{text.less}}</li>              
            </ul>

          </div>
          <div class="grid grid-cols-2 gap-4 ">
            <ul class="border-double border-4 border-indigo-600">
              <h2 class="text-center font-bold">Por sexo</h2>
              <li class="" *ngFor="let gen of genero">{{gen.sexo1}}{{gen.resultado}}</li>

            </ul>
            <ul class="border-double border-4 border-indigo-600">
              <h2 class="text-center font-bold">Personas solas</h2>
              <li class="" *ngFor="let alone of solos">{{alone.sexo1}}{{alone.cantidad}}</li>

            </ul>
            <ul class="border-double border-4 border-indigo-600">
              <h2 class="text-center font-bold">En pareja</h2>
              <li class="" *ngFor="let pair of emparejados">{{pair.cantchild}}</li>

            </ul>
            <ul class="border-double border-4 border-indigo-600">
              <h2 class="text-center font-bold">En pareja con hijos</h2>
              <li class="" *ngFor="let withchild of hijos">{{withchild.more2}}{{withchild.resultado}}</li>
              <li class="" *ngFor="let withchild of hijos">{{withchild.less}}{{withchild.resultado}}</li>

            </ul>
          </div>
        </div>
        <div class="text-center ">
          <div class="border-y-2 border-indigo-600/50 h-full font-mono text-xl">
            <h1>Resultados</h1>
            <app-resultados></app-resultados>
          </div>
        </div>
      </div>

    </div>
  </div>


</body>

</html>